.container {
    height: 768px;
    width: 768px;
    margin: 0 auto;
}

.grid-item {
    border: black solid 1px;
    justify-self: auto;
    align-self: auto;
}

.active {
    background: black;
}

.buttons {
    height: 100px;
    width: 640px;
    margin: 0 auto;
    text-align: center;
}

button {
    display: inline-block;
    margin: 30px auto;
    padding: 10px 20px;
    border-radius: 5px;
}